@model ExpenseTracker.Domain.Models.Entities.Expense
@{
   ViewData["Title"] = "Details";
   Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
   <div class="col-lg-8 offset-lg-3">

      <!--ALERT-->
      @if (TempData[ExpenseTracker.Utilities.Constants.MessageConstants.MessageKey] != null)
      {
         <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i>&nbsp;@TempData[ExpenseTracker.Utilities.Constants.MessageConstants.MessageKey]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
      }

      <!--PAGE TITLE-->
      <h4>Expense Details</h4>

      @*<h5>@Html.DisplayFor(model => model.CategoryName)</h5>*@

      <hr />

      <div class="card shadow-sm mb-1">
         <div class="card-body">
            <div class="row">

               <div>
                  <dl class="row">
                     <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ExpenseDate)</dt>
                     <dd class="col-sm-1">:</dd>
                     <dd class="col-sm-7">@Html.DisplayFor(model => model.ExpenseDate)</dd>

                     <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Amount)</dt>
                     <dd class="col-sm-1">:</dd>
                     <dd class="col-sm-7">@Html.DisplayFor(model => model.Amount)</dd>

                     <dt class="col-sm-4">Expense Catagory</dt>
                     <dd class="col-sm-1">:</dd>
                     <dd class="col-sm-7">@Html.DisplayFor(model => model.ExpenseCatagoryID)</dd>
                  </dl>
               </div>

               <div class="text-center mt-2">
                  <a asp-controller="Expense" asp-action="Index" class="btn btn-dark">Finish</a>
               </div>

            </div>
         </div>
      </div>

   </div>
</div>